/*_____NAVIGATION_____*/
#nav{
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 1.25em;/*20px*/
	z-index: 999;
}

#nav-title{
	float: left;
	font-family: 'Nunito', sans-serif;
	color: #B2B6C0;
}

#nav-links{
	float: right;
	line-height: 2.5em;/*40px*/
	vertical-align: middle;
}

#nav-links a{
	text-decoration: none;
	color: #B2B6C0;
	font-size: 120%;
	margin-left: 1.3em;/*25px*/
	font-family: 'Raleway', sans-serif;
}

#title-text{
	font-size: 220%;/*35.2px*/
	line-height: 1em;
}
/*____General____*/
section{
	overflow: hidden;
	height: 100vh;
	width: 100%;
}
h2{margin: 0;}
body{margin: 0;}

/*_____HOME______*/

#section-home{
	background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('../media/hero.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#hero-text{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 50%;
	transform: translateY(-50%);
	color: #EDF2EF;
	text-align: center;

}

#hero-title{
	font-size: 450%;
	font-family: 'Nunito', sans-serif;
}

#hero-sub{
	font-size: 30%;
	font-family: 'Raleway', sans-serif;

}


/*_____ABOUT_______*/

#section-about{
	background-color: #212122;
}

#about-text{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

#about-top{
	font-size: 200%;/*32px*/
	margin-bottom: 0.93em;/*30px*/
	font-family: 'Nunito', sans-serif;
	color: #B2B6C0;
}

#about-middle{
	font-family: 'Nunito', sans-serif;
	font-size: 350%;/*56px*/
	margin-bottom: 0.54em;/*30px*/
	margin-top: 0;
	color: #EDF2EF;
}

#about-bottom{
	font-family: 'Raleway', sans-serif;
	font-size: 120%;
	line-height: 180%;
	color: #B2B6C0;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

/*____ASSIGNMENTS_______*/

#section-assignments{
	background-color: #003242;
}

#assignments-content{
	text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#assignments-text{
	color: #212122;
	font-size: 400%;
	font-family: 'Nunito', sans-serif;
}


.row [class*="col-"] {

	background-color: #EDF2EF;
	border-radius: 20px;
	transition: all .4s ease-in-out;
}
.row [class*="col-"]:hover{
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
	transform: scale(1.1,1.1);
}

.row div h3{
	color: #656D7D;
	font-family: 'Nunito', sans-serif;
	font-size: 150%;
}
.row div p{
	color: #B2B6C0;
	font-family: 'Raleway', sans-serif;
	font-size: 115%;
}

/*_____CONTACT______*/

#section-contact{
	background-color: #212122;
}

#contact-container{
	text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#contact-title h2{
	color: #B2B6C0;
	font-size: 400%;
	text-align: center;
	font-family: 'Nunito', sans-serif;
}

#contact-text p{
	color: #EDF2EF;
	font-family: 'Raleway', sans-serif;
	font-size: 120%;/*19,2px*/
}

.contact-p svg{
	height: 1.04em;/*~20px*/
	width: 1.04em;/*~20px*/
}

.contact-icon{
	color: #EDF2EF;
}
